// Color
$primary_color: #005fd5;
$sub_color: #85498F;
$p_color: #687083;
$heading_color: #111111;
$white_color:#ffffff;
$border_color: #e1e1e1;

$bg_1 : #16273f;

//Fonts
$main_font: 'Mulish', sans-serif;
$second_font: 'Poppins', sans-serif;


$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

$sm_mobile_h:'(max-height: 500px)';